html, body {
	width: 100%;
	height: 100%;
	font-size: 1em;
	margin: 0px;
	overflow: hidden;
	font-family: 'Roboto', sans-serif;
	background-color: #FAFAFA;
}

article {
	width: 100%;
	height: 100%;
	line-height: 0;
	margin: auto;
}

#container {
	margin: auto;
}

.cell {
	background-color: white;
	border: 1px solid black;
	display: inline-block;
	line-height: 100%;
	margin-top: -2px;
	margin-left: -2px;
}

.on {
	background-color: black;
}

.button {
	line-height: 40px;
	text-align: center;
	width: 100px;
	height: 40px;
	cursor: pointer;
	text-transform: uppercase;
	background-color: #3F51B5;
	color: white;
	border-radius: 2px;
	box-shadow: 1px 1px 3px #555;
}

.button:active {
	box-shadow: 2px 2px 4px #888;
}

#start {
	position: fixed;
	bottom: 30px;
	right: 50px;
}

#reset {
	position: fixed;
	bottom: 30px;
	right: 200px;
}
